


body { margin: 0 }

.box {width: 100%; height: 100%; text-align: center; 
      color: #ffffff; margin-right: 50px;
      font-family: DejaVuSansBold, sans-serif; 
    }
.boxodd { background-color: #004080 }
.boxeven { background-color: #004080 }
.box { background-color: #004080 }

.mins { line-height: 105%; letter-spacing: 0px }
.clear { clear: both }
#boxes { overflow: hidden; }
.marquee { font-family: DejaVuSansBold, sans-serif; }

.headsign { font-weight: 700 }


body { cursor: none }







@font-face {
    font-family: 'DejaVuSansBook';
    src: url('DejaVuSans-webfont.eot');
    src: url('DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSans-webfont.woff') format('woff'),
         url('DejaVuSans-webfont.ttf') format('truetype'),
         url('DejaVuSans-webfont.svg#DejaVuSansBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansOblique';
    src: url('DejaVuSans-Oblique-webfont.eot');
    src: url('DejaVuSans-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSans-Oblique-webfont.woff') format('woff'),
         url('DejaVuSans-Oblique-webfont.ttf') format('truetype'),
         url('DejaVuSans-Oblique-webfont.svg#DejaVuSansOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansBold';
    src: url('DejaVuSans-Bold-webfont.eot');
    src: url('DejaVuSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSans-Bold-webfont.woff') format('woff'),
         url('DejaVuSans-Bold-webfont.ttf') format('truetype'),
         url('DejaVuSans-Bold-webfont.svg#DejaVuSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansBoldOblique';
    src: url('DejaVuSans-BoldOblique-webfont.eot');
    src: url('DejaVuSans-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSans-BoldOblique-webfont.woff') format('woff'),
         url('DejaVuSans-BoldOblique-webfont.ttf') format('truetype'),
         url('DejaVuSans-BoldOblique-webfont.svg#DejaVuSansBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansCondensed';
    src: url('DejaVuSansCondensed-webfont.eot');
    src: url('DejaVuSansCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSansCondensed-webfont.woff') format('woff'),
         url('DejaVuSansCondensed-webfont.ttf') format('truetype'),
         url('DejaVuSansCondensed-webfont.svg#DejaVuSansCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansCondensedOblique';
    src: url('DejaVuSansCondensed-Oblique-webfont.eot');
    src: url('DejaVuSansCondensed-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSansCondensed-Oblique-webfont.woff') format('woff'),
         url('DejaVuSansCondensed-Oblique-webfont.ttf') format('truetype'),
         url('DejaVuSansCondensed-Oblique-webfont.svg#DejaVuSansCondensedOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansCondensedBold';
    src: url('DejaVuSansCondensed-Bold-webfont.eot');
    src: url('DejaVuSansCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSansCondensed-Bold-webfont.woff') format('woff'),
         url('DejaVuSansCondensed-Bold-webfont.ttf') format('truetype'),
         url('DejaVuSansCondensed-Bold-webfont.svg#DejaVuSansCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansCnBdOb';
    src: url('DejaVuSansCondensed-BoldOblique-webfont.eot');
    src: url('DejaVuSansCondensed-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('DejaVuSansCondensed-BoldOblique-webfont.woff') format('woff'),
         url('DejaVuSansCondensed-BoldOblique-webfont.ttf') format('truetype'),
         url('DejaVuSansCondensed-BoldOblique-webfont.svg#DejaVuSansCnBdOb') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*


.box {width: 100%; height: 100%; text-align: center; 
      color: #ffffff; margin-right: 50px;
      font-family: DejaVuSansBold, sans-serif;
      margin: 0; border: 0;
      background-color: #004080;
     }
.box .headsign, .box .also  { color: #ccc }
.box .logo img { margin-left: auto; margin-right: auto }
#boxes div.box div.board span { color: #ccc }
.boxodd { background-color: #004080 }
.boxeven { background-color: #004080 }
.mins { line-height: 105%; letter-spacing: 0px }
.clear { clear: both; }
#boxes { overflow: hidden; }
.marquee { font-family: DejaVuSansBold, sans-serif; }


body { 
	cursor: none; 
	margin: 0; border: 0 ;
	
}

*/