h1 { 
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
} 

#arrivals_display_area, #replace_this, #tb_phantom {
	width: 740px;
}


#tb_opaque {
	background-image: url(../images/sowa60x600.jpg);
  background-repeat: no-repeat;
	padding-left: 60px;
}

#tb_top {
	padding-left: 60px;
}

#tb_bottom {
	left: 60px;
}

#tb_clock { 
	background-color: #C7DD42; 
	color: #FFFFFF;
}

tr.odd { background-color: #C7DD42; color: #FFFFFF }
tr.even { background-color: #FFFFFF; color: #000000 }

#tb_opaque {  background-color: #FFFFFF; }